@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap');

@font-face {
  font-family: 'Haas Neue'; 
  src: url('assets/NHaasGroteskDSPro-55Rg.ttf');
}

html{
  background-color: #e6e4d1;
  overflow: none;
}

*{
  text-decoration: none;
  color:black;
}

body{
  overflow-y: auto;
  overflow-x: none;
  margin-bottom:20px;
  font-family: 'Nanum Myeongjo', serif;
  font-size: 15pt;
  line-height: 1.25;
}

header a:link, .main a:link{
  color:black;
}

#scroller::-webkit-scrollbar {
  width: 25px;
}

#scroller::-webkit-scrollbar-track {
  border-right: 1.5px solid black;
  border-left: 1.5px solid black;
}

#scroller::-webkit-scrollbar-thumb {
  background-color: #e6e4d1;
  border: 1.5px solid black;
  border-radius: 25px;
}

header{
margin-left:22px;
margin-top:20px;
margin-bottom:27px;
width:100%;
padding-bottom: 5px;
}

header .title{
  color: black;
  position: fixed;
  left:20px;
  z-index: 100;
  background-color: #e6e4d1;
  font-family: 'Haas Neue', sans-serif;
  font-size: 13.5pt;
}

header .about{
  color: black;
  position: fixed;
  right:20px;
  z-index: 100;
  background-color: #e6e4d1;
  font-family: 'Haas Neue', sans-serif;
  font-size: 13.5pt;
}

.container{overflow: none;
  display: flex;
  height: 95%}

.main{
  padding:10px;
  margin-top: 0px;
  width:75%;
  height: 95%;
}

.container a{
color:black;
}
/*NOT THE CALENDAR TITLE THOUGH*/
.calendar-title a{ 
color:black;
}

#scroller{
  overflow-x: hidden;
  overflow-y: auto;
  height: 87%;
  padding:15px;
  margin-left: 20px;
  border-top: solid 1.5px black;   
  border-bottom: solid 1.5px black;    
  border-left: solid 1.5px black;   
}

/*for shorter articles that don't need scrolling*/
#scroller-short{
  overflow-x: hidden;
  overflow-y: auto;
  height: 87%;
  padding:15px;
  margin-left: 20px;
  border: solid 1.5px black;   
}

#scroller #scroller_title{
  color: black;
  margin-left:10px;
  margin-bottom:10px;
  z-index: 100;
  position: sticky;
  background-color: #e6e4d1;
  font-family: 'Haas Neue', sans-serif;
  font-size: 13.5pt;
}

.bodytext-wrap{
margin-top:20px;
margin-left:20px;
margin-bottom:20px;
font-size: 13.5pt;
padding:15px;
border: solid 1.5px black; 
}

.wrapper{
overflow-x: hidden;
overflow-y: auto;
width:80%;
margin:10px;
margin-bottom:20px;
font-size: 13.5pt;
padding:10px;
background-color: #e6e4d1;
border: solid 1.5px black;
}

.wrapout{
overflow-x: hidden;
overflow-y: auto;
width:11%;
height:auto;
margin-right:10px;
margin-left:10px;
font-size: 13.5pt;
background-color: #e6e4d1;
border: solid 1.5px black;
float: right;
}

img{
  width:100%;
  height: 7vw;
  margin: -1px;
}

.article_title{
font-family: 'Haas Neue', sans-serif;
font-size: 13.5pt;
margin-bottom: -15px;
margin-left: 2px;
}

.article_title a{
font-family: 'Haas Neue', sans-serif;
font-size: 13.5pt;
color: black;
background-color: #e6e4d1;
border: solid 1.5px #e6e4d1;
margin-left: -4px;
padding-right: 2px;
margin-right: 10px;
}

.article_title span {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 13.5pt;
}

.article_cont{
margin: 0px;
padding: 0px;
} 

.article_footer{
  font-family: 'Haas Neue', sans-serif;
  font-size: 13.5pt;
  color:black;
  margin-bottom: -4px;
  margin-top: 10px;
  text-align: right;
}

.article_footer a, .article_footer a:link, .article_footer a:visited {
  color:black;
  font-family: 'Haas Neue', sans-serif;
  font-size: 13.5pt;
}

.menu_main{
  font-family: 'Haas Neue', sans-serif;
  font-size: 13.5pt;
  padding-top:10px;
  margin-left: 10px;
  margin-bottom: 20px;
  margin-right: 15px;
  width: 20%;
  height: 280px;
  display: block;
  height: 95%;
}

#menu_setup{
  text-decoration: none;
  padding:10px;
  position: relative;
  margin-top: -10px;
  background-color: #e6e4d1;
  font-size: 13.5pt;
}

#menu_setup_2{
  text-decoration: none;
  padding:0px;
  margin-top:25px;
  position: relative;
  height:75%;
  font-size: 13.5pt;
 /* border: solid 1.5px black;*/
}

select{
  background-color: #e6e4d1;
  outline: solid 0.25pt #e6e4d1;  
  outline-offset: -1.25pt;
  width: 39%;
  font-size: 13.5pt;
}

table{
  position: relative;
  font-size: 13.5pt;
  margin: auto;
  padding: 0px;
}

#calendar{
  text-align: right;
  font-size: 13.5pt;
}

tbody{
  font-family: 'Nanum Myeongjo', serif;
  font-size: 13.5pt;
}

th{
  text-align: right;
  padding: 2.5px;
  font-weight: 500;
}

.calendar-top{
    border: solid 1.5px black;
}

.calendar-title, .calendar-title a {
  text-align: center;
  padding-top: 20px;
  font-size: 13.5pt;
}

#next{
  text-align: right;
  color:black;
}

#previous{
  text-align: left;
  color:black;
}

.card-header{
  margin:21px;
}

.lead{
  padding-left: 45px;
}

.form-inline{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  border-top: solid 1.5px black;
  text-align: left;
}

.bg-info{
  color:black;
}

.heyo{
cursor: pointer;
padding-top: 2px;
border: 1.5px solid #f2fff6;
background-color: #f2fff6
}


/* PAGE_SPECIFIC: ______________________________*/

.full_article{
  padding-left:10px;
  padding-right:50px;
}


/* __ S M A L L E R __________ */


  @media only screen and (max-width: 980px){

    .menu_main { display:none; }

  }
