


@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap');

html{
  background-color: #bfb69b;
  overflow: none;
}

*{
  text-decoration: none;
  color:white;
}

body{
  overflow-y: auto;
  overflow-x: none;
  margin-bottom:20px;
  font-family: 'Nanum Myeongjo', serif;
  font-size: 15pt;
  line-height: 1.25;
}

header a:link, .main a:link{
  color:white;
}

#scroller::-webkit-scrollbar {
  width: 20px;}

#scroller {
  scrollbar-width: 10px;
}

#scroller::-webkit-scrollbar-track {
  border-left: 1.5px solid white;
}


#scroller::-webkit-scrollbar-thumb {
  background-color: #bfb69b;
  border-left: 1.5px solid white;
  border-top: 1.75px solid white;
  border-bottom: 1.75px solid white;
  border-right: 1.45px solid white;
  border-radius: 10px;
}


header{
margin-left:22px;
margin-top:20px;
margin-bottom:27px;
width:100%;
padding-bottom: 5px;
}

header .title{
  color: white;
  position: fixed;
  left:20px;
  z-index: 100;
  background-color: #bfb69b;
  font-family: 'Helvetica', sans-serif;
  font-size: 14pt;
}

header .about{
  color: white;
  position: fixed;
  right:20px;
  z-index: 100;
  background-color: #bfb69b;
  font-family: 'Helvetica', sans-serif;
  font-size: 14pt;
}


.container{overflow: none;
  display: flex;
  height: 95%}

.main{
  padding:10px;
  margin-top: 0px;
  width:75%;
  height: 95%;
}

.container a{
color:#f2ff00;
}
/*NOT THE CALENDAR TITLE THOUGH*/
.calendar-title a{ 
color:white;
}

#scroller{
  overflow-x: hidden;
  overflow-y: auto;
  height: 87%;
  padding:15px;
  margin-left: 20px;
  border: solid 1.5px white;    
}

#scroller #scroller_title{
  color: white;
  margin-left:10px;
  margin-bottom:15px;
  z-index: 100;
  position: sticky;
  background-color: #bfb69b;
  font-family: 'Helvetica', sans-serif;
  font-size: 14pt;
}

.bodytext{
margin-top:20px;
margin-left:20px;
margin-bottom:20px;
font-size: 14pt;
padding:15px;
border: solid 1.5px white; 
}

.wrapper_1, .wrapper_2, .wrapper_3, .wrapper_4{
overflow-x: hidden;
overflow-y: auto;
width:60%;
margin:10px;
margin-bottom:20px;
font-size: 14pt;
padding:10px;
background-color: #bfb69b;
border: solid 1.5px white;
}


.article_title{
font-family: 'Helvetica', sans-serif;
font-size: 14pt;
margin-bottom: -15px;
margin-left: 2px;
}

.article_title a{
font-family: 'Helvetica', sans-serif;
font-size: 14pt;
color: white;
background-color: #bfb69b;
border: solid 1.5px #bfb69b;
margin-left: -4px;
padding-right: 2px;
margin-right: 10px;
}

.article_title span {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 14pt;
}

.article_cont{
margin: 0px;
padding: 0px;
} 

.article_footer{
  font-family: 'Helvetica', sans-serif;
  font-size: 14pt;
  color:white;
  margin-bottom: -4px;
  margin-top: 10px;
  text-align: right;
}

.article_footer a, .article_footer a:link, .article_footer a:visited {
  color:white;
  font-family: 'Helvetica', sans-serif;
  font-size: 14pt;
}

.menu_main{
  font-family: 'Helvetica', sans-serif;
  font-size: 14pt;
  padding-top:10px;
  margin-left: 10px;
  margin-bottom: 20px;
  margin-right: 15px;
  width: 20%;
  height: 280px;
  display: block;
  height: 95%;
}

#menu_setup{
  text-decoration: none;
  padding:10px;
  position: relative;
  margin-top: -10px;
  background-color: #bfb69b;
  font-size: 14pt;
}

#menu_setup_2{
  text-decoration: none;
  padding:0px;
  margin-top:25px;
  position: relative;
  height:75%;
  font-size: 14pt;
 /* border: solid 1.5px white;*/
}

select{
  background-color: #bfb69b;
  outline: solid 0.25pt #bfb69b;  
  outline-offset: -1.25pt;
  width: 39%;
  font-size: 14pt;
}

table{
  position: relative;
  font-size: 14pt;
  margin: auto;
  padding: 0px;
}

#calendar{
  text-align: right;
  font-size: 14pt;
}

tbody{
  font-family: 'Nanum Myeongjo', serif;
  font-size: 14pt;
}

th{
  text-align: right;
  padding: 2.5px;
  font-weight: 500;
}

.calendar-top{
    border: solid 1.5px white;
}

.calendar-title, .calendar-title a {
  text-align: center;
  padding-top: 20px;
  font-size: 14pt;
}

#next{
  text-align: right;
  color:white;
}

#previous{
  text-align: left;
  color:white;
}

.card-header{
  margin:21px;
}

.lead{
  padding-left: 45px;
}

.form-inline{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  border-top: solid 1.5px white;
  text-align: left;
}

.bg-info{
  color:#f2ff00;
}

.heyo{
color:#f2ff00;
cursor: pointer;
}




